
/**
 * Commons
 */

 /* remove borders in split panels */
 .split-pane *.split-pane-divider {
     -fx-padding: 0 1 0 1;
 }

/**
 * Matchmaking
 **/

.matchmaking-col-left {
    -fx-background: #fafafa;
}

.matchmaking-col-right {
    -fx-background: #eaeaea;
}

.matchmaking-col-right-head {

}

.matchmaking-col-right-list {

}

/**
 * Game
 **/

.graph-city{
    -fx-padding: 6 8 6 8;
    -fx-border-radius: 4;
    -fx-background: #eaeaea;
}

#current-city-label {
    -fx-text-fill: red;
}

.graph-city-player{
    -fx-padding: 1 1 1 1;
}

.graph-city-player-W{
    -fx-text-fill: white;
}

.graph-city-player-B{
    -fx-text-fill: black;
}